@{
    Layout = null;
}

<div class="modal fade" id="modal-progress-bar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">sss
                <div clas="col-sm-6" id="myProgress">
                    <div id="myBar">0%</div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
