<div class="small-box bg-primary" id="moveTop" style="position:fixed;bottom:70px;right:0%;z-index:999;">
    <div class="icon" style="font-size:35px;">
        <a href="#moveTop"><i class="fa fa-arrow-circle-up"></i></a>
    </div>
</div>
<div class="small-box bg-primary" id="moveDown" style="position:fixed;bottom:35px;right:0%;z-index:999;">
    <div class="icon" style="font-size:35px;">
        <a href="#moveDown"><i class="fa fa-arrow-circle-down"></i></a>
    </div>
</div>