@model ErrorViewModel
@{
    ViewBag.Title = "Error " + Model.ErrorCode;
    ViewBag.PageTitle = "Error " + Model.ErrorCode;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.PageTitle
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box">

        <div class="box-header with-border">
            <h3 class="box-title">@Model.ErrorCode Error Report</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
            <h2 class="text-danger">An error occurred while processing your request.</h2>
            <p>
                @DateTime.Now.ToString("dd MMM yyyy, hh:mm:ss")

            </p>


            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong>
                    <br />
                    <code>@Model.RequestId</code>

                </p>
            }

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>

<script>

    $(function () {
        let redirect_Page = () => {
            let tID = setTimeout(function () {
                window.location.href = "/Accounts/Login";
                window.clearTimeout(tID);		// clear time out.
            }, 5000);
        }
    });

</script>


<!-- /.content -->
