@model CarrotSystem.Models.MPS.User

@{
    ViewBag.Title = "New Password";
    Layout = "_Layout_login";
}
<!-- /.login-logo -->
<div class="login-box-body">
    <form asp-action="AddNewPassword" asp-controller="Accounts" method="POST">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img width="325" height="310" src="~/images/logo_login.png" />
                <h3>Production System</h3><br />
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.message))
        {
            <p class="@ViewBag.Color"><h4>@ViewBag.message</h4></p>
        }
        
        <input type="hidden" name="LoginId" value="@ViewBag.loginId" />

        <div class="form-group has-feedback">
            <input id="NewPassword" name="NewPassword" type="password" class="form-control" autofocus="" required placeholder="Please Enter Your new Password" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        
        <div class="form-group has-feedback">
            <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" autofocus="" required placeholder="Please Confirm Your Password" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6">
                <input type="submit" class="btn btn-default btn-block btn-flat" value="Change Password" />
            </div>
        </div>
    </form>
</div>
