@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<div class="authentication-inner row m-0">
    <!-- /Left Text -->
    <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center">
        <div class="flex-row text-center mx-auto">
            <img src="~/theme/theme01/img/pages/5031659.png"
                 alt="Auth Cover Bg color"
                 width="800"
                 class="img-fluid authentication-cover-img"
                 data-app-light-img="pages/5031659.png"
                 data-app-dark-img="pages/5031659.png" />
            <div class="mx-auto">
                <h3>Power to automate your business</h3>
                <p>
                    Streamlining operations, boosting efficiency, and driving growth.
                </p>
            </div>
        </div>
    </div>
    <!-- /Left Text -->
    <!-- Login -->
    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-5 p-4">
        <div class="w-px-400 mx-auto">
            <!-- /Logo -->
            <img class="img-responsive mb-3" width="100%" src="~/images/mercorella_AK-02.png" />

            @if (!string.IsNullOrEmpty(ViewBag.message))
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <h6 class="alert-heading mb-1"><i class="bx bx-xs bx-store align-top me-2"></i>Notice!</h6>
                    <span>@ViewBag.message</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <form id="account" method="post">
                <div class="form-group">
                    <label for="Input_Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" id="Input_Email" tabindex="1" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" id="Input_Password" type="password" tabindex="2" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="Input.RememberMe" class="form-check-input" id="Input_RememberMe" tabindex="3" />
                        <label class="form-check-label" for="Input_RememberMe"> Remember Me </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary d-grid w-100" tabindex="4">Sign in</button>
            </form>
            <div class="card-footer text-center">
                <!-- Additional links or information -->
                <p>Don't have an account? <a href="/Identity/Account/Register">Sign up</a></p><br />
            </div>

        </div>
    </div>
    <!-- /Login -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
