svg {
    display: block;
    width: 350px;
    height: 350px;
    left: 50%;
    margin-top:25%;
    position: relative;
    transform: translate(-50%,-50%);
}

.tree {
    fill: #6096f9;
}

.circle-mask {
    transform-origin: 50% 90%;
    animation: scale 5s infinite ease-out;
}

@keyframes scale {
    0%, 100% {
        transform: scale(0.0);
    }

    7%, 90% {
        transform: scale(0.4);
    }

    50% {
        transform: scale(1);
    }
}
